@model Trip.Identity.Areas.Admin.Models.GetDashboardVM

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
	<h4>Identity Dashboard</h4>
	<hr />
	<div class="row">
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Users &nbsp;	<span class="badge badge-success">@Html.DisplayFor(model => model.Users)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Clients: &nbsp; 	<span class="badge badge-success">@Html.DisplayFor(model => model.Clients)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Roles &nbsp; 	<span class="badge badge-success">@Html.DisplayFor(model => model.Roles)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Identity Resources &nbsp; <span class="badge badge-success">@Html.DisplayFor(model => model.IdentityResources)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Api Resources &nbsp; <span class="badge badge-success">@Html.DisplayFor(model => model.ApiResources)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 p-2">
			<div class="card">
				<img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-social-network-button-users-260nw-253724863.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="center card-title">Api Scopes &nbsp; <span class="badge badge-success">@Html.DisplayFor(model => model.ApiScopes)</span></h5>
					<a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">View All</a>
				</div>
			</div>
		</div>
	</div>
</div>
