@model Trip.Identity.Areas.Admin.Models.GetDashboardVM

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
	<h4>Identity Dashboard</h4>
	<hr />
	<div class="row">
		<div class="col-sm-4">
			<div class="card-counter primary">
				<i class="fa fa-users"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.Users)</span>
				<span class="count-name">
					<a asp-action="Index" asp-controller="Users" asp-area="Admin">Users</a>
				</span>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card-counter danger">
				<i class="fa fa-ticket"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.Clients)</span>
				<span class="count-name"><a asp-action="Index" asp-controller="Clients" asp-area="Admin">Clients</a></span>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card-counter success">
				<i class="fa fa-database"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.Roles)</span>
				<span class="count-name"><a asp-action="Index" asp-controller="Roles" asp-area="Admin">Roles</a></span>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card-counter info">
				<i class="fa fa-code-fork"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.IdentityResources)</span>
				<span class="count-name"><a asp-action="Index" asp-controller="IdentityResources" asp-area="Admin">Identity Resources</a></span>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card-counter info">
				<i class="fa fa-code-fork"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.ApiResources)</span>
				<span class="count-name"><a asp-action="Index" asp-controller="ApiResources" asp-area="Admin">Api Resources</a></span>
			</div>

		</div>
		<div class="col-sm-4">
			<div class="card-counter info">
				<i class="fa fa-code-fork"></i>
				<span class="count-numbers">@Html.DisplayFor(model => model.ApiScopes)</span>
				<span class="count-name"><a asp-action="Index" asp-controller="ApiScopes" asp-area="Admin">Api Scopes</a></span>
			</div>
		</div>
	</div>
</div>
