@model List<UserViewModel>

@using Microsoft.AspNetCore.Identity
@using Trip.Identity.Areas.Admin.Models
@using Trip.Identity.Persistence.Data

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table">
	<thead>
		<tr>
			@*<th scope="col">#</th>*@
			<th scope="col">Username</th>
			<th scope="col">Firstname</th>
			<th scope="col">Lastname</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				@*<td>@user.Id</td>*@
				<th scope="row">@user.UserName</th>
				<td>@user.FirstName</td>
				<td>@user.LastName </td>
				<td>@user.Email</td>
				<td>@user.PhoneNumber </td>
				<td><a asp-action="Edit" asp-controller="Users" asp-route-id=@user.Id >Edit</a> </td>
				<td><a asp-action="Delete" asp-controller="Users" asp-route-id=@user.Id>Delete</a> </td>
			</tr>
		}
	</tbody>
</table>
